@font-face {
  font-family: headerFont;
  src: url(../../fonts/Oswald-Medium.woff);
}

@font-face {
  font-family: text1Font;
  src: url(../../fonts/Montserrat-Medium.woff);
}

@font-face {
  font-family: text2Font;
  src: url(../../fonts/Montserrat-Regular.woff);
}

* {
  padding: 0px;
  margin: 0px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0px;
}

h1, h2, h3 {
  font-family: headerFont;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

.text1 {
  font-size: 24px;
  font-family: text1Font;
  font-weight: 500;
}

.text2, a {
  font-size: 18px;
  font-family: text2Font;
  line-height: 22px;
}

img {
  width: 100%;
  height: auto;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99999999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffa800;
  color: white;
  cursor: pointer;
  padding: 17px;
  border-radius: 30px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .nav-img {
  max-width: 159px;
  margin: 0px 84px 0px 0px;
  z-index: 1001;
}

.nav-container .vector {
  position: absolute;
  bottom: -20px;
  width: 100%;
  z-index: 100;
  left: 0;
}

.nav-container .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.nav-container .nav-items .languages .ru, .nav-container .nav-items .languages .en, .nav-container .nav-items .languages .lv {
  display: none;
}

.nav-container .nav-items a {
  font-weight: 500;
  color: #060606;
  border-bottom: 3px solid transparent;
}

.nav-container .nav-items a:hover {
  border-bottom: 3px solid #ffa800;
  text-decoration: none;
  font-weight: bold;
}

.nav-container .nav-items a .hamburger {
  height: 20px;
  width: 24.8px;
  background-image: url(/assets/img/mobNav.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container .nav-items a .cross {
  height: 20px;
  width: 20px;
  background-image: url(/assets/img/cross.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container .nav-items .icon {
  border-bottom: solid 1px transparent;
  display: none;
  position: absolute;
  right: 50px;
}

.nav-container .nav-items .icon:active,
.nav-container .nav-items .icon:hover {
  border-bottom: solid 1px transparent;
}

@media screen and (max-width: 1100px) {
  .nav-container .nav-items {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav-container .nav-items a:not(:last-child) {
    display: none;
  }
  .nav-container .nav-items .icon {
    display: block;
  }
  .nav-container .nav-items.responsive {
    position: absolute;
    background-color: #fff;
    height: 100vh;
    left: 0;
    z-index: 1000;
    padding-top: 70px;
  }
  .nav-container .nav-items.responsive .icon {
    top: 35px;
  }
  .nav-container .nav-items.responsive .languages {
    width: 25%;
    display: block;
  }
  .nav-container .nav-items.responsive .languages .lv {
    border-bottom: solid 3px #ffa800;
    font-weight: bold;
  }
  .nav-container .nav-items.responsive .languages .ru, .nav-container .nav-items.responsive .languages .lv, .nav-container .nav-items.responsive .languages .en {
    display: block;
  }
  .nav-container .nav-items.responsive a {
    float: none;
    display: block;
    text-align: center;
    font-size: 24px;
  }
  .nav-container .nav-items.responsive #lv {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .nav-container .nav-img {
    max-width: 128px;
  }
  .nav-container .vector {
    bottom: -7px;
    height: 10px;
  }
}

@media screen and (max-width: 700px) {
  .nav-container .nav-items.responsive .languages {
    width: 35%;
  }
  .nav-container .nav-img {
    max-width: 76px;
  }
  .nav-container .nav-items.responsive {
    padding-top: 35px;
  }
  .nav-container .nav-items.responsive a {
    font-size: 18px;
  }
}

.video-container .svg-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-container .mobCircle {
  display: none;
}

.video-container .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 31px solid #fff;
  border-bottom: 18px solid transparent;
  border-radius: 2px;
  top: 50%;
  left: 50.3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  .video-container .circle {
    display: none;
  }
  .video-container .mobCircle {
    display: block;
  }
  .video-container .triangle {
    border-top: 10px solid transparent;
    border-left: 22px solid #fff;
    border-bottom: 10px solid transparent;
    left: 50.6%;
  }
}

.aboutContainer .textBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  height: 414px;
  max-width: 654px;
  width: 100%;
  color: #2f4858;
}

.aboutContainer .gallery-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutContainer .gallery-container .vector-top {
  position: absolute;
  top: -16px;
  width: 100%;
  z-index: 100;
}

.aboutContainer .gallery-container .vector-bot {
  position: absolute;
  bottom: -13px;
  width: 100%;
  z-index: 100;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.aboutContainer .gallery-container img {
  width: 50%;
}

.aboutContainer .gallery-container .img5 {
  width: 55%;
}

.aboutContainer .gallery-container .flex-column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.aboutContainer .gallery-container .flex-column-container img {
  width: 100%;
}

@media screen and (max-width: 920px) {
  .aboutContainer .textBox {
    height: 440px;
  }
  .aboutContainer .gallery-container .vector-bot {
    bottom: -2px;
  }
  .aboutContainer .gallery-container .vector-top {
    top: -9px;
  }
}

@media screen and (max-width: 700px) {
  .aboutContainer .textBox {
    height: 284px;
  }
  .aboutContainer .textBox .text2 {
    font-size: 12px;
  }
  .aboutContainer .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutContainer .gallery-container .vector-top {
    top: 0px;
  }
}

.formContainer {
  height: 1170px;
}

.formContainer .doYouWantBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 380px;
  margin: 90px 0px;
}

.formContainer .doYouWantBox .btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.formContainer .doYouWantBox h3 {
  color: #2f4858;
  text-align: center;
  padding-bottom: 40px;
}

@media screen and (max-width: 920px) {
  .formContainer .doYouWantBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .formContainer h3 {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (max-width: 700px) {
  .formContainer .btnBox {
    width: 100%;
  }
}

.formContainer .formStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer .formStart h2 {
  margin-bottom: 40px;
}

.formContainer .formStart .form {
  width: 45%;
}

.formContainer .formStart .form .textInput {
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  width: 100%;
  padding: 5px;
  border: solid 1px #e7e7e7;
  margin: 7px 0px;
  font-family: text2Font;
  resize: none;
}

.formContainer .formStart .form .textInput::-webkit-input-placeholder {
  font-family: text2Font;
  color: #2f4858;
}

.formContainer .formStart .form .textInput:-ms-input-placeholder {
  font-family: text2Font;
  color: #2f4858;
}

.formContainer .formStart .form .textInput::-ms-input-placeholder {
  font-family: text2Font;
  color: #2f4858;
}

.formContainer .formStart .form .textInput::placeholder {
  font-family: text2Font;
  color: #2f4858;
}

.formContainer .formStart .form p {
  color: #2f4858;
}

.formContainer .formStart .form .checkbox {
  margin-right: 21px;
  margin-top: 6px;
}

.formContainer .formStart .form .acceptTerms {
  padding-top: 25px;
  padding-bottom: 50px;
}

.formContainer .formStart .form span {
  font-size: 14px;
  font-family: text2Font;
  line-height: 17px;
  color: #2f4858;
}

@media screen and (max-width: 920px) {
  .formContainer .formStart .form {
    width: 80%;
  }
  .formContainer .formStart .form .acceptTerms {
    padding-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .formContainer .formStart .form {
    width: 100%;
  }
}

.sponsorContainer {
  margin-top: 135px;
  background-color: #ffcb66;
}

.sponsorContainer .vector-top {
  position: absolute;
  width: 100%;
  top: -17px;
  left: 0;
}

.sponsorContainer .vector-bot {
  position: absolute;
  width: 100%;
  bottom: -15px;
  left: 0;
}

.sponsorContainer h3 {
  padding-top: 83px;
}

.sponsorContainer .imgRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  padding-bottom: 50px;
}

.sponsorContainer .imgRow .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sponsorContainer .imgRow #spons1 {
  max-width: 241.95px;
}

.sponsorContainer .imgRow #spons2 {
  max-width: 209.32px;
}

.sponsorContainer .imgRow #spons3 {
  max-width: 238.96px;
}

.sponsorContainer .imgRow #spons4 {
  max-width: 84.77px;
}

@media screen and (max-width: 920px) {
  .sponsorContainer .vector-top {
    top: -15px;
  }
  .sponsorContainer .vector-bot {
    bottom: -7px;
  }
  .sponsorContainer .imgRow {
    height: 253px;
  }
  .sponsorContainer .imgRow #spons1 {
    max-width: 144px;
  }
  .sponsorContainer .imgRow #spons2 {
    max-width: 123px;
  }
  .sponsorContainer .imgRow #spons3 {
    max-width: 142px;
  }
  .sponsorContainer .imgRow #spons4 {
    max-width: 49px;
  }
}

@media screen and (max-width: 700px) {
  .sponsorContainer .imgRow > div {
    width: 50%;
  }
  .sponsorContainer .vector-top {
    top: -12px;
    height: 15px;
  }
}

.footer {
  background-color: #2f4858;
  color: #fff;
}

.footer span {
  margin-bottom: 10px;
}

.footer .desktop-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 324px;
}

.footer .desktop-footer .col1 {
  width: 25%;
}

.footer .desktop-footer .col1 img, .footer .desktop-footer .col1 p {
  max-width: 182px;
}

.footer .desktop-footer .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.footer .desktop-footer .col2 li {
  list-style: none;
  padding-bottom: 20px;
}

.footer .desktop-footer .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 27%;
}

.footer .desktop-footer .col4 {
  width: 28%;
}

.footer .desktop-footer .col4 .facebook {
  max-width: 18px;
}

.footer .desktop-footer .col4 .instagram {
  max-width: 36px;
  margin-left: 30px;
}

.footer .desktop-footer p {
  line-height: 17px;
  font-size: 14px;
}

.footer .desktop-footer h4 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.footer .desktop-footer a {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.footer .desktop-footer a:hover {
  color: #ffcb66;
}

.footer .mobile-footer {
  display: none;
}

.footer .mobile-footer .text2.mob {
  display: none;
  font-size: 18px;
  padding: 25px 0px 30px 0px;
  font-family: text1Font;
}

@media screen and (max-width: 920px) {
  .footer .desktop-footer {
    display: none !important;
  }
  .footer .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 364px;
  }
  .footer .mobile-footer .row1 img {
    max-width: 162px;
  }
  .footer .mobile-footer .row1 > div {
    text-align: right;
  }
  .footer .mobile-footer span {
    font-size: 18px;
  }
  .footer .mobile-footer p {
    font-size: 16px;
  }
  .footer .mobile-footer h3 {
    font-size: 24px;
  }
  .footer .instagram {
    max-width: 25px;
  }
  .footer .facebook {
    max-width: 12.5px;
    margin-right: 34px;
  }
}

@media screen and (max-width: 700px) {
  .footer .mobile-footer {
    height: 483px;
  }
  .footer .mobile-footer .row1 img {
    max-width: 100px;
  }
  .footer .mobile-footer .row1 > div {
    text-align: left;
  }
  .footer .mobile-footer .text2.tabl {
    display: none;
  }
  .footer .mobile-footer .text2.mob {
    display: block;
  }
  .footer .mobile-footer span {
    font-size: 12px;
  }
  .footer .mobile-footer span b {
    font-size: 14px;
  }
  .footer .row1, .footer .row2, .footer .row3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer .row1 p, .footer .row2 p, .footer .row3 p {
    font-size: 11px;
    margin-bottom: 0px;
  }
}

.button {
  background-color: #ffa800;
  border: solid 2px #ffa800;
  border-radius: 23px;
  color: #fff;
  padding: 11px 46px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.button:hover {
  background-color: #fff;
  color: #ffa800;
}

@media screen and (max-width: 700px) {
  .button {
    padding: 11px 50px;
  }
}

.footer-container {
  padding: 45px 63px 0px 62px;
}

.nav-container {
  padding: 0px 13px 0px 62px;
  height: 92px;
}

@media screen and (max-width: 920px) {
  .footer-container {
    padding: 0px 80px;
  }
  .nav-container {
    padding: 0px 80px;
    height: 74px;
  }
}

@media screen and (max-width: 700px) {
  .footer-container,
  .mobile-container {
    padding: 0px 20px;
  }
  .nav-container {
    padding: 0px 20px;
    height: 51px;
  }
}
/*# sourceMappingURL=style.css.map */