//variables, fonts, mixins

$black: #0000;
$blue: #2f4858;
$orange: #ffa800;
$yellow: #ffcb66;
$white: #fff;

@font-face {
    font-family: headerFont;
    src: url(../../fonts/Oswald-Medium.woff);
}
@font-face {
    font-family: text1Font;
    src: url(../../fonts/Montserrat-Medium.woff);
}
@font-face {
    font-family: text2Font;
    src: url(../../fonts/Montserrat-Regular.woff);
}
$responsiveBar: 1100px;
$tablet: 920px;
$mobile: 700px;

@mixin tablet {
    @media screen and (max-width: #{$tablet}) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

@mixin navigationBar {
    @media screen and (max-width: #{$responsiveBar}) {
        @content;
    }
}

//Text sizes, fonts and global classes

* {
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
}
html{scroll-behavior: smooth;}

.container-fluid {padding: 0px;}

h1,h2,h3 {font-family: headerFont;}

h1 {font-size: 48px;}

h2 {font-size: 30px;}

h3 {font-size: 24px;
    line-height: 36px;}

.text1 {
    font-size: 24px;
    font-family: text1Font;
    font-weight: 500;
}
.text2, a {
    font-size: 18px;
    font-family: text2Font;
    line-height: 22px;
}

img {
    width: 100%;
    height: auto;
}

//AnchroLink
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99999999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $orange;
    color: white;
    cursor: pointer;
    padding: 17px;
    border-radius: 30px;
  }
//NavBar
.nav-container {
    display: flex;
    .nav-img {
        max-width: 159px;
        margin: 0px 84px 0px 0px;
        z-index: 1001;
    }
    .vector {
        position: absolute;
        bottom: -20px;
        width: 100%;
        z-index: 100;
        left: 0;
    }
    .nav-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .languages {
            .ru,.en,.lv {
                display: none;}
        }
        a {
            font-weight: 500;
            color: #060606;
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom: 3px solid $orange;
                text-decoration: none;
                font-weight: bold;
            }
            .hamburger {
                height: 20px;
                width: 24.8px;
                background-image: url(/assets/img/mobNav.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
            .cross {
                height: 20px;
                width: 20px;
                background-image: url(/assets/img/cross.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .icon { 
            border-bottom: solid 1px transparent;
            display: none;
            position: absolute;
            right: 50px;
        }
        .icon:active,
        .icon:hover {
            border-bottom: solid 1px transparent;
        }
    }
}
@include navigationBar {
    .nav-container {
        .nav-items {
            position: initial;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            a:not(:last-child) {
                display: none;
            }
            .icon {
                display: block;
            }
        }
        .nav-items.responsive {
            position: absolute;
            background-color: $white;
            height: 100vh;
            left: 0;
            z-index: 1000;
            padding-top: 70px;
        }
        .nav-items.responsive .icon {
            top: 35px;
        }
        .nav-items.responsive .languages {
            width: 25%;
            display: block;
            .lv {
                border-bottom: solid 3px $orange;
                font-weight: bold;
            }
            .ru,.lv,.en {
                display: block;
            }
        }
        .nav-items.responsive a {
            float: none;
            display: block;
            text-align: center;
            font-size: 24px;
        }
        .nav-items.responsive #lv {
            display: none;
        }
    }
}
//resposnive nav
@include tablet() {
    .nav-container {
        .nav-img {
            max-width: 128px;
        }
        .vector {
            bottom: -7px;
            height: 10px;
        }
    }
}
@include mobile {
    .nav-container .nav-items.responsive .languages {
        width: 35%;
    }
    .nav-container .nav-img {
        max-width: 76px;
    }
    .nav-container .nav-items.responsive {
        padding-top: 35px;
    }
    .nav-container .nav-items.responsive a {
        font-size: 18px;
    }
}

//SparkleVideo
.video-container {//VideoContainer
    .svg-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mobCircle {
        display: none;
    }
    .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-left: 31px solid $white;
        border-bottom: 18px solid transparent;
        border-radius: 2px;
        top: 50%;
        left: 50.3%;
        transform: translate(-50%, -50%);
    }
    //responsive video block
    @include mobile {
        .circle {
            display: none;
        }
        .mobCircle {
            display: block;
        }
        .triangle {
            border-top: 10px solid transparent;
            border-left: 22px solid #fff;
            border-bottom: 10px solid transparent;
            left: 50.6%;
        }
    }
}//VideoContainer

//about block with text and gallery

.aboutContainer { //about container
    //middle text
    .textBox {
        align-items: center;
        text-align: center;
        margin: auto;
        height: 414px;
        max-width: 654px;
        width: 100%;
        color: $blue;
    }
    
    .gallery-container {//gallery
        flex-flow: row;
        display: flex;
        .vector-top {
            position: absolute;
            top: -16px;
            width: 100%;
            z-index: 100;
        }
        .vector-bot {
            position: absolute;
            bottom: -13px;
            width: 100%;
            z-index: 100;
            transform: rotate(180deg);
        }
        img {
            width: 50%;
        }
        .img5 {
            width: 55%;
        }
        .flex-column-container {
            display: flex;
            flex-direction: column;
            width: 45%;
            img {
                width: 100%;
            }
        }
    }//gallery

    //responsive gallery
    @include tablet {
        .textBox {height: 440px;}
 .gallery-container {
                .vector-bot{bottom: -2px;}
                .vector-top{top: -9px;}
            }
    }
    @include mobile {
        .textBox {
            height: 284px;
            .text2{
                font-size: 12px;
            }
        }
        .gallery-container {
            flex-direction: column-reverse;
            .vector-top{top: 0px;}
        }
    }   //responsive gallery
}//about container

//buttons and form

.formContainer { //formContainer
   
    height: 1170px;
    .doYouWantBox {
        display: flex;
        flex-flow: row wrap;
        height: 380px;
        margin: 90px 0px;
        .btnBox {
            display: flex;
            flex-grow: 1;
            flex-flow: column wrap;
            align-items: center;
            margin: auto;
        }
        h3 {
            color: $blue;
            text-align: center;
            padding-bottom: 40px;
        }
    }
    @include tablet {
        .doYouWantBox {
            flex-direction: row-reverse;
           
        }
        h3 {
            font-size: 18px;
            line-height: 27px;
        }
    }
    @include mobile {
        .btnBox {
            width: 100%;
        }
        h3 {
        }
    }
    .formStart {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        // padding: 50px 0px;
        h2 {
            margin-bottom: 40px;
        }
        .form {
            width: 45%;

            .textInput {
                background: rgba(196, 196, 196, 0.4);
                border-radius: 6px;
                width: 100%;
                padding: 5px;
                border: solid 1px #e7e7e7;
                margin: 7px 0px;
                font-family: text2Font;
                resize: none;
                &::placeholder {
                    font-family: text2Font;
                    color: $blue;
                }
            }
            p {
                color: $blue;
            }
            .checkbox {
                margin-right: 21px;
                margin-top: 6px;
            }
            .acceptTerms {
                padding-top: 25px;
                padding-bottom: 50px;
            }
            span {
                font-size: 14px;
                font-family: text2Font;
                line-height: 17px;
                color: $blue;
            }
        }
        @include tablet {
            .form {
                width: 80%;
                .acceptTerms {
                    padding-top: 10px;
                }
            }
        }
        @include mobile {
            .form {
                width: 100%;
            }
        }
    }
} //formContainer

.sponsorContainer { //sponsorContainer
   
    margin-top: 135px;
    background-color: $yellow;
    .vector-top {
        position: absolute;
        width: 100%;
        top: -17px;
        left: 0;
    }
    .vector-bot {
        position: absolute;
        width: 100%;
        bottom: -15px;
        left: 0;
    }
    h3 {
        padding-top: 83px;
    }
    .imgRow {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        padding-bottom: 50px;
        .imgBox {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-around;
            flex-grow: 1;
        }
        #spons1 {max-width: 241.95px;}
        #spons2 {max-width: 209.32px;}
        #spons3 {max-width: 238.96px;}
        #spons4 {max-width: 84.77px;}
    }
    @include tablet {  //responsive sponsor elements
            .vector-top{top: -15px;}
            .vector-bot {bottom: -7px;}
        .imgRow {
            #spons1 {max-width: 144px;}
            #spons2 {max-width: 123px;}
            #spons3 {max-width: 142px;}
            #spons4 {max-width: 49px;}
            height: 253px;
        }

    }
    @include mobile {
        .imgRow {
            & > div {
                width: 50%;
            }
           }
          .vector-top{
                top: -12px;
                height: 15px;
            }
        
    }//responsive sponsor elements
} //sponsortContainer

.footer { // both footer
    background-color: $blue;
    color: $white;
    span {
        margin-bottom: 10px;
    }
    .desktop-footer {//desktopfooter
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        height: 324px;
        .col1 {
            width: 25%;
            img,p {max-width: 182px;}
        }
        .col2 {
            display: flex;
            flex-direction: column;
            width: 25%;
            li {
                list-style: none;
                padding-bottom: 20px;
            }
        }
        .col3 {
            display: flex;
            flex-direction: column;
            width: 27%;
        }
        .col4 {
            width: 28%;
            .facebook {
                max-width: 18px;
            }
            .instagram {
                max-width: 36px;
                margin-left: 30px;
            }
        }
        p {
            line-height: 17px;
            font-size: 14px;
        }
        h4 {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 16px;
        }
        a {
            color: $white;
            font-size: 18px;
            line-height: 22px;
            &:hover {
                color: $yellow;
            }
        }
    } //desktopfooter
    .mobile-footer { //mobilefooter
        display: none;
        .text2.mob {
            display: none;
            font-size: 18px;
            padding: 25px 0px 30px 0px;
            font-family: text1Font;
        }
    }//mobilefooter
}// both footer
@include tablet { //responsive footer elements
    .footer {
        .desktop-footer {
            display: none !important;
        }
        .mobile-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 364px;
            .row1 {
                img {
                    max-width: 162px;
                }
                & > div {
                    text-align: right;
                }
            }
            span {
                font-size: 18px;
            }
            p {
                font-size: 16px;
            }
            h3 {
                font-size: 24px;
            }
        }
        .instagram {
            max-width: 25px;
        }
        .facebook {
            max-width: 12.5px;
            margin-right: 34px;
        }
    }
}
@include mobile {
    .footer {
        .mobile-footer {
            height: 483px;
            .row1 {
                img {
                    max-width: 100px;
                }
                & > div {
                    text-align: left;
                }
            }
            .text2.tabl {
                display: none;
            }
            .text2.mob {
                display: block;
            }
            span {
                font-size: 12px;
                b {
                    font-size: 14px;
                }
            }
        }
        .row1,.row2,.row3 {
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: space-evenly;
            p {
                font-size: 11px;
                margin-bottom: 0px;
            }
        }
    }
}//responsive footer elements

//button
.button {
    background-color: $orange;
    border: solid 2px $orange;
    border-radius: 23px;
    color: $white;
    padding: 11px 46px;
    transition: all 0.4s ease-out;
    &:hover {
        background-color: $white;
        color: $orange;
    }
}//button
@include mobile {
    .button {
        padding: 11px 50px;
    }
}

//Containers
.footer-container {
    padding: 45px 63px 0px 62px;
}
.nav-container {
    padding: 0px 13px 0px 62px;
    height: 92px;
}
@include tablet {
    .footer-container {
        padding: 0px 80px;
    }
    .nav-container {
        padding: 0px 80px;
        height: 74px;
    }
}
@include mobile {
    .footer-container,
    .mobile-container
    {
        padding: 0px 20px;
    }
    .nav-container {
        padding: 0px 20px;
        height: 51px;
    }
}
